*{
  margin: 0;
  padding: 0;
}
input, button{
  color: lightgray;
  background-color: black;
  justify-content: center;
  margin-right: 5px;
}

form{
  position: absolute;
  right: 20px;
  top: 20px;

}
